<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DonationCollectingSystem"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".peopleSettingActivity2"
            android:exported="false" />
        <activity
            android:name=".donarViewAllpaylistActivity2"
            android:exported="false" />
        <activity
            android:name=".afterLoginPeopleHomePageActivity2"
            android:exported="false" />
        <activity
            android:name=".AfterLogindonarHomePageActivity2"
            android:exported="false" />
        <activity
            android:name=".AdminDonarListActivity2"
            android:exported="false" />
        <activity
            android:name=".MobileSendSmsActivity2"
            android:exported="false" />
        <activity
            android:name=".AfterSendingStoredInformationActivity2"
            android:exported="false" />
        <activity
            android:name=".donarSendingMoneyInfoshowlistActivity2"
            android:exported="false" />
        <activity
            android:name=".notificationListActivity2"
            android:exported="false" />
        <activity
            android:name=".donarSendingMoneyListActivity2"
            android:exported="false" />
        <activity
            android:name=".donarSendWantToPlaceListActivity2"
            android:exported="false" />
        <activity
            android:name=".adminHomeActivity2"
            android:exported="false" />
        <activity
            android:name=".PaymentPageActivity2"
            android:exported="false" />
        <activity
            android:name=".DonarUserListPageActivity2"
            android:exported="false" />
        <activity
            android:name=".AllPeopledInformationActivity2"
            android:exported="false" />
        <activity
            android:name=".GovtInformationActivity2"
            android:exported="false" />
        <activity
            android:name=".donar_distric_home_pageActivity2"
            android:exported="false" />
        <activity
            android:name=".donarAdminPageActivity2"
            android:exported="false" />
        <activity
            android:name=".DonarUserPayPageActivity2"
            android:exported="false" />
        <activity
            android:name=".DonarDistricPayPageActivity2"
            android:exported="false" />
        <activity
            android:name=".DonarAdminPayPageActivity2"
            android:exported="false" />
        <activity
            android:name=".peopleLoginActivity2"
            android:exported="false" />
        <activity
            android:name=".donarMainHomePageActivity2"
            android:exported="false" />
        <activity
            android:name=".DonarRegistrationActivity2"
            android:exported="false" />
        <activity
            android:name=".RegisterPageActivity2"
            android:exported="false" />
        <activity
            android:name=".loginPageActivity2"
            android:exported="false" />
        <activity
            android:name=".donarHomeActivity2"
            android:exported="false" />
        <activity
            android:name=".peopleHomeActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".splashActivity2"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>